postgresql:
    startupProbe:
        enabled: true
        initialDelaySeconds: 10
        periodSeconds: 10
        timeoutSeconds: 5
        # 10*90 = 900s = 15min
        failureThreshold: 90
    livenessProbe:
        enabled: true
        initialDelaySeconds: 300
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 30
    readinessProbe:
        enabled: true
        initialDelaySeconds: 30
        periodSeconds: 10
        timeoutSeconds: 5
        failureThreshold: 30
