---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: harbor
generatorOptions:
  disableNameSuffixHash: false
resources:
  - ../../base
configMapGenerator:
  - name: helm-values-override
    files:
      - values.yaml
secretGenerator:
  - name: helm-sensitive-values
    files:
      - values.secrets.yaml
patches:
  - target:
      group: helm.toolkit.fluxcd.io
      version: v2
      kind: HelmRelease
      name: harbor
    patch: |-
      apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      metadata:
        name: harbor
        namespace: harbor
      spec:
        postRenderers:
          - kustomize:
              patches:
                - target:
                    kind: StatefulSet
                    name: harbor-database
                  patch: |-
                    - op: add
                      path: /spec/template/spec/containers/0/readinessProbe/timeoutSeconds
                      value: 5
                    - op: add
                      path: /spec/template/spec/containers/0/readinessProbe/failureThreshold
                      value: 6
                    - op: add
                      path: /spec/template/spec/containers/0/livenessProbe/timeoutSeconds
                      value: 5
                    - op: add
                      path: /spec/template/spec/containers/0/livenessProbe/failureThreshold
                      value: 6
                    - op: add
                      path: /spec/template/spec/containers/0/startupProbe
                      value:
                        exec:
                          command:
                            - /docker-healthcheck.sh
                        periodSeconds: 10
                        timeoutSeconds: 5
                        failureThreshold: 60