---
controller:
  type: deployment
  replicas: 1

service:
  enabled: true
  type: ClusterIP


alloy:
  extraPorts:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
      protocol: TCP
    - name: otlp-http
      port: 4318
      targetPort: 4318
      protocol: TCP

  configMap:
    content: |
      logging {
        level = "info"
      }

      otelcol.receiver.otlp "default" {
        grpc { endpoint = "0.0.0.0:4317" }
        http { endpoint = "0.0.0.0:4318" }
        output {
          traces = [otelcol.exporter.otlp.tempo.input]
        }
      }

      otelcol.exporter.otlp "tempo" {
        client {
          endpoint = "tempo-gateway.observability.svc.cluster.local:4317"
          tls {
            insecure = true
          }
        }
      }
