---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tigera-operator
generatorOptions:
  disableNameSuffixHash: false
resources:
  - ../../base
configMapGenerator:
  - name: helm-values-override
    files:
      - values.yaml
secretGenerator:
  - name: helm-sensitive-values
    files:
      - values.secrets.yaml

