auth:
    adminUser: admin
replicaCount: 1
resources:
    requests:
        memory: 512Mi
        cpu: 250m
    limits:
        memory: 1Gi
        cpu: 500m
extraEnvVars:
    - name: KC_HOSTNAME
      value: https://auth.winfra.cs.nycu.edu.tw
    - name: KC_HOSTNAME_ADMIN
      value: https://auth.winfra.cs.nycu.edu.tw
postgresql:
    primary:
        startupProbe:
            enabled: true
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            # 10*90 = 900s = 15min
            failureThreshold: 90
        livenessProbe:
            enabled: true
            initialDelaySeconds: 300
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 30
        readinessProbe:
            enabled: true
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 30
