---
# https://artifacthub.io/packages/helm/traefik/traefik-crds
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-crds
  namespace: traefik
spec:
  interval: 10m
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: traefik-crds
      version: 1.13.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
