---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: prometheus
  namespace: flux-system
spec:
  interval: 10m
  url: oci://ghcr.io/prometheus-community/charts/prometheus
  ref:
    tag: 27.52.0
