---
# This manifest creates the keycloak-oidc secret for GitLab OIDC authentication
# The secret data should be created manually or via sealed-secrets
# kubectl create secret generic -n gitlab keycloak-oidc --from-file=provider=provider.yaml
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-oidc
  namespace: gitlab
type: Opaque
stringData:
  provider: |
    # kubectl create secret generic -n gitlab keycloak-oidc --from-file=provider=provider.yaml
    name: openid_connect
    label: 'Keycloak'
    args:
      name: openid_connect
      scope: ['openid', 'email', 'profile']
      response_type: code
      issuer: https://auth.eample.com/realms/<your_relam> # Keycloak realm
      discovery: true
      client_options:
        identifier: gitlab # Client ID
        secret: <your_client_secret> # Client Secret
        redirect_uri: https://auth.eample.com/users/auth/openid_connect/callback # Callback URL
      uid_field: preferred_username
      pkce: true
